.body {
   
    background: url(image/image1.jpg);
    color: rgb(147, 156, 156);
   
}
.btn {
   
    background-color: rgb(60, 62, 60);
    color: rgb(199, 195, 181);
   
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}